body {

    /* Trinity-International-University */
position: relative;
width: 400px;
height: 400px;
  align-content: center;
//left: 492px;


//background: 'url(/Assets/TIUTrojan.jpeg)';
  //background-image:url('./Assets/TIUTrojan.jpeg');
  background-image:url('~src/app/Assets/TIUTrojan.jpeg');
  //opacity: 0.5;

}

.main {

    /* I am student */


position: absolute;
width: 129px;
height: 29px;
left: 772px;
top: 436px;

font-family: Aleo;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FEFFF8;

}

.sign {
 /* TIU CONNECT */


position: absolute;
width: 738px;
height: 134px;
left: 270px;
top: 167px;

font-family: Aleo;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 115px;

color: #FEFFF8;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
  width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: lightblue;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
    
    
}